@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<input type="hidden" asp-for="MessageId" />

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Mesajlar</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Gelen Mesaj Detayları</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Gönderen: @Model.Name - Email: @Model.Email - Tarih: @Model.SendDate
							<br />
							<br />
							Mesaj: @Model.MessageDetail
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>